<div>
    Argumentos de entrada: {{ args }}
</div>

<div>Sistema operativo: {{ io }}</div>
<div>Version de node: {{ nodeVersion }}</div>
<div>Memoria Total reservada: {{ rss }}</div>
<div>Path de ejecucion: {{ pathEjecution }}</div>
<div>Process ID: {{ processId }}</div>
<div>Carpeta del Proyecto: {{ folderProy }}</div>
